body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    background-image: url(fotos/fondo.png);
    color: #333;
    list-style: none;
    overflow-x: hidden; /* Prevenir desbordamiento horizontal */
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav.navbar {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    height: 10vh;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: white;
}

.collapse.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 2rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 1.5rem;
}

.nav-link {
    color: white !important;
    font-size: 1.125rem; /* 18px */
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    transition: transform 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: white !important;
    transform: scale(1.1);
}

main {
    margin-top: 10vh; /* Ajusta este valor según la altura de tu header */
    padding-bottom: 10vh;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    nav.navbar {
        flex-direction: row;
        height: auto;
        padding: 1rem 2rem;
    }

    .navbar-brand {
        order: 1;
    }

    .navbar-toggler {
        order: 2;
    }

    .collapse.navbar-collapse {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }

    .nav-link {
        font-size: 1rem; /* 16px */
        padding: 1rem 0;
    }

    .collapse.show {
        display: flex;
    }
}

@media (max-width: 480px) {
    nav.navbar {
        height: 6vh;
        padding: 0 1rem;
    }

    .navbar-brand .logo {
        height: 6vh;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 0.875rem; /* 14px */
        padding: 0.5rem 1rem;
    }

    main {
        margin-top: 6vh;
    }

    .photo-section {
        padding: 2rem 1rem;
    }

    .solicitar-boton {
        padding: 1.5rem 3rem;
        font-size: 1.2rem;
    }

    .quienes-somos h2 {
        font-size: 2rem;
    }

    .quienes-somos p {
        font-size: 1.2rem;
    }

    .servicios h2 {
        font-size: 2rem;
    }

    .servicios .texto h3 {
        font-size: 1.5rem;
    }

    .servicios .texto p {
        font-size: 1rem;
    }

    .servicios img {
        width: 100%;
    }
}

/* Estilo seccion foto */
.photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.photo-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.solicitar-boton {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.solicitar-boton::after {
    content: '→';
    margin-left: 1rem;
    font-size: 1.2rem;
    transition: margin-left 0.3s ease;
}

.solicitar-boton:hover {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}

.solicitar-boton:hover::after {
    margin-left: 1.5rem;
}

/* Estilos para la sección "Quiénes Somos" */
.quienes-somos {
    padding: 2rem 1.5rem;
    background-color: #3B405D;
    opacity: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 1.5rem;
}

.quienes-somos .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.quienes-somos .contenedor .texto {
    flex: 1 1 45%;
    padding: 1rem;
    color: whitesmoke;
}

.quienes-somos .contenedor .imagen {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes-somos .contenedor .imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .quienes-somos .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .quienes-somos .contenedor .texto, 
    .quienes-somos .contenedor .imagen {
        flex: 1 1 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.quienes-somos h2 {
    color: wheat;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.quienes-somos p {
    font-size: 1.7rem;
    color: whitesmoke;
    line-height: 1.4;
}

/* Sección Servicios */
.servicios {
    padding: 5rem 2rem;
    background-color: #3B405D;
    color: white;
}

.servicios h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 4rem;
}

.servicios .texto p {
    font-size: 2rem;
    line-height: 1.6;
    color: white;
}

.servicios-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem; /* Espacio entre los cuadros */
}

.servicios-contenedor .texto-1,
.servicios-contenedor .texto-2 {
    flex: 1 1 calc(50% - 2rem); /* Ajusta el ancho de los cuadros */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    padding: 2rem;
    background: #4C516D;
    opacity: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Borde difuminado */
}

.servicios .texto h3,
.servicios .texto p {
    color: white;
}

.servicios img {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .servicios .texto {
        flex: 1 1 100%;
        margin-bottom: 2rem;
        text-align: center;
    }

    .servicios .texto h3 {
        font-size: 1.8rem;
    }

    .servicios .texto p {
        font-size: 1.5rem;
    }
}

.servicios img {
    max-width: 80%;
    height: auto;
    margin-top: 2rem;
    width: 100%;
}

/* Estilos para la nueva sección de puntos claves */
.puntos-claves {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
    color: white;
}

@media (max-width: 768px) {
    .puntos-claves {
        grid-template-columns: 1fr;
    }
}

.cuadro {
    padding: 1.5rem;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

/* Estilos para la nueva sección de Contacto */
.contacto {
    padding: 4rem 2rem;
    background-color: rgba(198, 194, 194, 0.992);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}

.contenedor-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contenedor-contacto {
        flex-direction: column;
    }
}

.formulario {
    flex: 1 1 45%;
    margin-right: 2rem;
}

.formulario label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-size: 1rem;
    color: #3B405D;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.formulario button[type="submit"] {
    background-color: #3B405D;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1.5rem 8rem;
    font-size: 1.125rem; /* 18px */
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.formulario button[type="submit"]:hover {
    background-color: #3B405D;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formulario button[type="submit"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.1);
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.formulario button[type="submit"]:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.formulario button[type="submit"].active {
    background-color: #28a745;
    color: #fff;
    border: none;
    transform: scale(1.05);
}

.formulario button[type="submit"] span {
    position: relative;
    z-index: 1;
}

.formulario button[type="submit"] i {
    margin-right: 0.5rem;
}

.texto-contacto {
    flex: 1 1 45%;
    margin-left: 2rem;
}

.texto-contacto h2 {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: #3B405D;
}

.texto-contacto p {
    font-size: 1rem;
    line-height: 1.6;
    color: #3B405D;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #333;
    text-decoration: none;
    font-size: 1.125rem; /* 18px */
}

.contact-item:hover {
    color: #007bff;
}

.contact-icon {
    width: 1.5rem; /* 24px */
    height: 1.5rem;
    margin-right: 1rem;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-contacto {
        flex-direction: column;
    }

    .formulario,
    .texto-contacto {
        margin: 0 0 2rem 0;
        width: 100%;
    }

    .formulario {
        margin-bottom: 2rem;
    }
}



/*footer*/
footer {
    width: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    padding: 4rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer h5 {
    font-size: 1.125rem; /* 18px */
    margin-bottom: 2rem;
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 1rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #007bff;
}

footer .fab {
    margin-right: 1rem;
}

footer .text-center {
    margin-top: 2rem;
}

footer .text-center p {
    margin: 0;
    font-size: 0.875rem; /* 14px */
}

footer .footer-logo {
    max-width: 15rem; /* 150px */
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    footer .col-md-6,
    footer .col-lg-3 {
        flex: 1 1 100%;
        margin-bottom: 2rem;
    }
}









/*PAGINA DE SERVICIOS*/


.services {
    max-width: 1600px; /* Aumentando el ancho máximo del contenedor */
    margin: 40px auto;
    padding: 20px;
    background-color: #3B405D;
    border-radius: 15px;
    color: white;
    text-align: center;
}


.services h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
}

@media (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    color: #3B405D;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px; /* Limitar el ancho máximo de las cartas */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #3B405D;
}

.card p {
    color: #3B405D;
}





